doctype html
html(lang='en')
  head
    title 2018 NCAA March Madness Bracket - Maine Madness
    meta(name='description', content='Maine Madness - 2018 NCAA March Madness Bracket')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    meta(http-equiv='Content-Language', content='en')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='js/miso.ds.deps.min.0.4.1.js')
    link(href='css/bracket.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')

  body
    nav
      #menuToggle
        ul
          li
            a(href='bracket') Your Bracket
          li
            a(href='home') Account
          li
            a#btn-logout(href='/') Logout
    #thetitle
      p
        | 2018 NCAA
        br
        |  Tournament Bracket
      p#save-bracket Save Bracket
    #r1.rlabel
    #r2.rlabel
    #r3.rlabel
    #r4.rlabel
    #col1
      #c1s1.slot(data-col='1', data-game='1', b_id='0')
      #c1s2.slot(data-col='1', data-game='1', b_id='1')
      hr(align='left')
      #c1s3.slot(data-col='1', data-game='2', b_id='2')
      #c1s4.slot(data-col='1', data-game='2', b_id='3')
      hr(align='left')
      #c1s5.slot(data-col='1', data-game='3', b_id='4')
      #c1s6.slot(data-col='1', data-game='3', b_id='5')
      hr(align='left')
      #c1s7.slot(data-col='1', data-game='4', b_id='6')
      #c1s8.slot(data-col='1', data-game='4', b_id='7')
      hr(align='left')
      #c1s9.slot(data-col='1', data-game='5', b_id='8')
      #c1s10.slot(data-col='1', data-game='5', b_id='9')
      hr(align='left')
      #c1s11.slot(data-col='1', data-game='6', b_id='10')
      #c1s12.slot(data-col='1', data-game='6', b_id='11')
      hr(align='left')
      #c1s13.slot(data-col='1', data-game='7', b_id='12')
      #c1s14.slot(data-col='1', data-game='7', b_id='13')
      hr(align='left')
      #c1s15.slot(data-col='1', data-game='8', b_id='14')
      #c1s16.slot(data-col='1', data-game='8', b_id='15')
      .spacer15
      #c1s17.slot(data-col='1', data-game='9', b_id='16')
      #c1s18.slot(data-col='1', data-game='9', b_id='17')
      hr(align='left')
      #c1s19.slot(data-col='1', data-game='10', b_id='18')
      #c1s20.slot(data-col='1', data-game='10', b_id='19')
      hr(align='left')
      #c1s21.slot(data-col='1', data-game='11', b_id='20')
      #c1s22.slot(data-col='1', data-game='11', b_id='21')
      hr(align='left')
      #c1s23.slot(data-col='1', data-game='12', b_id='22')
      #c1s24.slot(data-col='1', data-game='12', b_id='23')
      hr(align='left')
      #c1s25.slot(data-col='1', data-game='13', b_id='24')
      #c1s26.slot(data-col='1', data-game='13', b_id='25')
      hr(align='left')
      #c1s27.slot(data-col='1', data-game='14', b_id='26')
      #c1s28.slot(data-col='1', data-game='14', b_id='27')
      hr(align='left')
      #c1s29.slot(data-col='1', data-game='15', b_id='28')
      #c1s30.slot(data-col='1', data-game='15', b_id='29')
      hr(align='left')
      #c1s31.slot(data-col='1', data-game='16', b_id='30')
      #c1s32.slot(data-col='1', data-game='16', b_id='31')
    // ROUND OF 32
    #col2
      .vliner
        #c2s1.slot.c2(data-col='2', data-game='1', b_id='84')
        #c2s2.slot.c2(data-col='2', data-game='1', b_id='85')
      .vliner
        #c2s3.slot.c2(data-col='2', data-game='2', b_id='86')
        #c2s4.slot.c2(data-col='2', data-game='2', b_id='87')
      .vliner
        #c2s5.slot.c2(data-col='2', data-game='3', b_id='88')
        #c2s6.slot.c2(data-col='2', data-game='3', b_id='89')
      .vliner
        #c2s7.slot.c2(data-col='2', data-game='4', b_id='90')
        #c2s8.slot.c2(data-col='2', data-game='4', b_id='91')
      .spacer2
      .vliner
        #c2s9.slot.c2(data-col='2', data-game='5', b_id='103')
        #c2s10.slot.c2(data-col='2', data-game='5', b_id='104')
      .vliner
        #c2s11.slot.c2(data-col='2', data-game='6', b_id='105')
        #c2s12.slot.c2(data-col='2', data-game='6', b_id='106')
      .vliner
        #c2s13.slot.c2(data-col='2', data-game='7', b_id='107')
        #c2s14.slot.c2(data-col='2', data-game='7', b_id='108')
      .vliner
        #c2s15.slot.c2(data-col='2', data-game='8', b_id='109')
        #c2s16.slot.c2(data-col='2', data-game='8', b_id='110')
    #col3
      .vliner
        #c3s1.slot.c3(data-col='3', data-game='1', b_id='92')
        #c3s2.slot.c3(data-col='3', data-game='1', b_id='93')
      .vliner
        #c3s3.slot.c3(data-col='3', data-game='2', b_id='94')
        #c3s4.slot.c3(data-col='3', data-game='2', b_id='95')
      .vliner
        #c3s5.slot.c3b(data-col='3', data-game='3', b_id='110')
        #c3s6.slot.c3b(data-col='3', data-game='3', b_id='111')
      .vliner
        #c3s7.slot.c3b(data-col='3', data-game='4', b_id='112')
        #c3s8.slot.c3b(data-col='3', data-game='4', b_id='113')
    #col4
      .vliner
        #c4s1.slot.c4(data-col='4', data-game='1', b_id='96')
        #c4s2.slot.c4(data-col='4', data-game='1', b_id='97')
      .spacer15
      .vliner
        #c4s3.slot.c4(data-col='4', data-game='2', b_id='114')
        #c4s4.slot.c4(data-col='4', data-game='2', b_id='115')
    #col5
      .vliner
        #c5s1.slot.c5(data-col='5', data-game='1', b_id='98')
        .spacer180
        #c5s2.slot.c5(data-col='5', data-game='1', b_id='116')
    #col6
      #c6s1.slot.c6(data-col='6', data-game='1', b_id='99')
      #c6s2.slot.c6(data-col='6', data-game='2', b_id='100')
    #col6-1
      #c6s0.slot.c6-1.winner(data-col='6', data-game='0', b_id='101')
      p#winner-title WINNER
    #col7
      .vlinel
        #c7s1.slot.c7(data-col='7', data-game='2', b_id='131')
        .spacer180
        #c7s2.slot.c7(data-col='7', data-game='2', b_id='146')
    #col8
      .vlinel
        #c8s1.slot.c8(data-col='8', data-game='1', b_id='129')
        #c8s2.slot.c8(data-col='8', data-game='1', b_id='130')
      .spacer15
      .vlinel
        #c8s3.slot.c8(data-col='8', data-game='2', b_id='144')
        #c8s4.slot.c8(data-col='8', data-game='2', b_id='145')
    #col9
      .vlinel
        #c9s1.slot.c9(data-col='9', data-game='1', b_id='125')
        #c9s2.slot.c9(data-col='9', data-game='1', b_id='126')
      .vlinel
        #c9s3.slot.c9(data-col='9', data-game='2', b_id='127')
        #c9s4.slot.c9(data-col='9', data-game='2', b_id='128')
      .vlinel
        #c9s5.slot.c9b(data-col='9', data-game='3', b_id='140')
        #c9s6.slot.c9b(data-col='9', data-game='3', b_id='141')
      .vlinel
        #c9s7.slot.c9b(data-col='9', data-game='4', b_id='142')
        #c9s8.slot.c9b(data-col='9', data-game='4', b_id='143')
    #col10
      .vlinel
        #c10s1.slot.c10(data-col='10', data-game='1', b_id='117')
        #c10s2.slot.c10(data-col='10', data-game='1', b_id='118')
      .vlinel
        #c10s3.slot.c10(data-col='10', data-game='2', b_id='119')
        #c10s4.slot.c10(data-col='10', data-game='2', b_id='120')
      .vlinel
        #c10s5.slot.c10(data-col='10', data-game='3', b_id='121')
        #c10s6.slot.c10(data-col='10', data-game='3', b_id='122')
      .vlinel
        #c10s7.slot.c10(data-col='10', data-game='4', b_id='123')
        #c10s8.slot.c10(data-col='10', data-game='4', b_id='124')
      .spacer2
      .vlinel
        #c10s9.slot.c10(data-col='10', data-game='5', b_id='132')
        #c10s10.slot.c10(data-col='10', data-game='5', b_id='133')
      .vlinel
        #c10s11.slot.c10(data-col='10', data-game='6', b_id='134')
        #c10s12.slot.c10(data-col='10', data-game='6', b_id='135')
      .vlinel
        #c10s13.slot.c10(data-col='10', data-game='7', b_id='136')
        #c10s14.slot.c10(data-col='10', data-game='7', b_id='137')
      .vlinel
        #c10s15.slot.c10(data-col='10', data-game='8', b_id='138')
        #c10s16.slot.c10(data-col='10', data-game='8', b_id='139')
    #col11
      #c11s1.slot(data-col='11', data-game='1', b_id='32')
      #c11s2.slot(data-col='11', data-game='1', b_id='33')
      hr(align='left')
      #c11s3.slot(data-col='11', data-game='2', b_id='34')
      #c11s4.slot(data-col='11', data-game='2', b_id='35')
      hr(align='left')
      #c11s5.slot(data-col='11', data-game='3', b_id='36')
      #c11s6.slot(data-col='11', data-game='3', b_id='37')
      hr(align='left')
      #c11s7.slot(data-col='11', data-game='4', b_id='38')
      #c11s8.slot(data-col='11', data-game='4', b_id='39')
      hr(align='left')
      #c11s9.slot(data-col='11', data-game='5', b_id='40')
      #c11s10.slot(data-col='11', data-game='5', b_id='41')
      hr(align='left')
      #c11s11.slot(data-col='11', data-game='6', b_id='42')
      #c11s12.slot(data-col='11', data-game='6', b_id='43')
      hr(align='left')
      #c11s13.slot(data-col='11', data-game='7', b_id='44')
      #c11s14.slot(data-col='11', data-game='7', b_id='45')
      hr(align='left')
      #c11s15.slot(data-col='11', data-game='8', b_id='46')
      #c11s16.slot(data-col='11', data-game='8', b_id='47')
      .spacer15
      #c11s17.slot(data-col='11', data-game='9', b_id='48')
      #c11s18.slot(data-col='11', data-game='9', b_id='49')
      hr(align='left')
      #c11s19.slot(data-col='11', data-game='10', b_id='50')
      #c11s20.slot(data-col='11', data-game='10', b_id='51')
      hr(align='left')
      #c11s21.slot(data-col='11', data-game='11', b_id='52')
      #c11s22.slot(data-col='11', data-game='11', b_id='53')
      hr(align='left')
      #c11s23.slot(data-col='11', data-game='12', b_id='54')
      #c11s24.slot(data-col='11', data-game='12', b_id='55')
      hr(align='left')
      #c11s25.slot(data-col='11', data-game='13', b_id='56')
      #c11s26.slot(data-col='11', data-game='13', b_id='57')
      hr(align='left')
      #c11s27.slot(data-col='11', data-game='14', b_id='58')
      #c11s28.slot(data-col='11', data-game='14', b_id='59')
      hr(align='left')
      #c11s29.slot(data-col='11', data-game='15', b_id='60')
      #c11s30.slot(data-col='11', data-game='15', b_id='61')
      hr(align='left')
      #c11s31.slot(data-col='11', data-game='16', b_id='62')
      #c11s32.slot(data-col='11', data-game='16', b_id='63')
    div(style='clear:both')
    #firstfour
      p.title The First Four
      .ffmodule(style='margin-left: 50px')
        p#fflabel1.subtitle
        .ffcol1
          #c12s1.slotnohover(data-col='12', data-game='1', b_id='64')
          #c12s2.slotnohover(data-col='12', data-game='1', b_id='65')
        .ffcol2
          #c12s9.slotnohover(b_id='71')
      .ffmodule
        p#fflabel2.subtitle
        .ffcol1
          #c12s3.slotnohover(data-col='13', data-game='2', b_id='66')
          #c12s4.slotnohover(data-col='13', data-game='2', b_id='67')
        .ffcol2
          #c12s10.slotnohover(b_id='72')
      .ffmodule
        p#fflabel3.subtitle
        .ffcol1
          #c12s5.slotnohover(data-col='14', data-game='3', b_id='68')
          #c12s6.slotnohover(data-col='14', data-game='3', b_id='69')
        .ffcol2
          #c12s11.slotnohover(b_id='73')
      .ffmodule(style='border-right: none')
        p#fflabel4.subtitle
        .ffcol1
          #c12s7.slotnohover(data-col='15', data-game='4', b_id='70')
          #c12s8.slotnohover(data-col='15', data-game='4', b_id='71')
        .ffcol2
          #c12s12.slotnohover(b_id='74')
    footer(style='background: transparent; margin-top: 80px;')
      p Website by Ryan Prendergast &copy 2018

    script(src='js/bracket.js')
