
extends layout

block content
	nav
		#menuToggle
			ul
				li
					a(href='bracket') My Bracket
				li
					a(href='#') Home
				li
					a(href='/user') Account
					li
						a(href='/standings') Standings
				li
					a#btn-logout(href='/')
						| Logout
			.hamburger-menu


	// preset form values if we receive a userdata object //
	- user = typeof(udata) != 'undefined' ? udata : { }
	// store the userId on the client side in a hidden input field //
	link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')

	input(type='hidden', value= user._id)#userId

	#account-form-container.center-vertical
		form(method="post").form-horizontal.well
			h2 Maine Madness Home
			hr
			.form-group
				.col-sm-12 Welcome to Maine South's March Madness website!


			.form-group
				.col-sm-12 After you complete your bracket, please pay $5 in the bookstore to enter the competition; all proceeds will go to the School Wide Fundraiser in support of finding a cure for Huntington's Disease. There will be prizes for 1st, 2nd, and 3rd place in both individual and class categories, as well as a prize for Biggest Loser.

			.form-group
				.col-sm-12 Prizes include apparel from the college of your choice or free breakfast/pizza for the winning class.


			hr
			.form-buttons
				button.btn.btn-primary My Bracket
			.clearfix

	// display form errors in a custom modal window //

	include modals/form-errors

	include modals/alert
	include modals/confirm

	footer(style='background: transparent; margin-top: 80px;')
		p Website by Ryan Prendergast &copy 2018


block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
